<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFm_-cTaSJS66BRLjm6gfUTEtvu-_dp3w</string>
	<key>GCM_SENDER_ID</key>
	<string>334087447937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.idealtech.maze</string>
	<key>PROJECT_ID</key>
	<string>maze-4fbc8</string>
	<key>STORAGE_BUCKET</key>
	<string>maze-4fbc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334087447937:ios:c762173249cf30b421b480</string>
</dict>
</plist>